.header1{
    font-family: monospace;
    background-color: black;
    /* height: 70px; */
    padding: 50px;
    text-align: center;
}
.spanHeader{
    color: white;
    text-align: right;
    font-size: 20px;
    font-family: monospace;
}

.containerBody{
    background-color: grey;
    height: 300px;
    margin-top: 20px;
}

.containerResult{
    background-color:gold;
    height: 400px;
    margin-top: 20px;
}

.divDescription{
    
}

.divContainer{
    padding: 20px;
    text-align: center;
}

.btnBorrar {
    padding: 20px;
    background-color: rgb(94, 94, 94);
    border-radius: 5px;
    font-size: 10px;
    margin-left: 200px;
}

.TextoRedondo{
    padding: 7px;
    border-radius: 10px;
}

.botonInsertar{
    padding: 15px;
    background-color: white;
    border-radius: 7px;
    font-family: monospace;
    font-size: 25px;
    
}

table{
    width: 100%;
    color: black !important
}